<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Stock Tracker</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
    aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">BSE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">NSE</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">NASDAQ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">SSE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">HKSG</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">TMX</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">AUX</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">

  <div class="row header">
    <div class="col-8 col-md-4 col-lg-4 name">
      Ticker
    </div>
    <div class="col-4 col-md-4 col-lg-6 price text-center">
      Price
    </div>
    <div class="d-none d-sm-none d-md-block col-md-4 col-lg-2 time text-center">
      Last Update
    </div>
  </div>

  <ng-container *ngFor="let name of stocksList">
    <div id="{{name | uppercase}}" class="row content" [ngClass]="{ 'bg-success': stocks[name]['status'] === 1, 'bg-danger': stocks[name]['status'] === -1 }">
      <div class="col-8 col-md-4 col-lg-4 name">
        {{name | uppercase}}
      </div>
      <div class="col-4 col-md-4 col-lg-6 price text-center">
        {{stocks[name]['price']}}
      </div>
      <div class="col-12 col-md-4 col-lg-2 time text-md-center">
        <span class="d-md-none">Last update:</span> {{stocks[name]['updated'] | amTimeAgo}}
      </div>
    </div>
  </ng-container>

</div>